.btn{
  white-space: nowrap;
  display: inline-block;
  height: 30px;
  line-height: 15px!important;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600!important;
  letter-spacing: .025em;
  text-decoration: none;
  &.btn-danger{
    background-color: $danger;
    border-color: $danger;
  }
  &.btn-success{
    background-color: $success;
    border-color: $success
  }
}