{% extends 'base.html.twig' %}

{% block title %}PYXY.space - Your activities, your life, your rules.!{% endblock %}

{% block body %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Lyon, France",
                "postalCode": "69007",
                "streetAddress": "Proxima B, Century"
            },
            "email": "contact@pyxy.space",
            "member": [
                {
                    "@type": "Organization"
                },
                {
                    "@type": "Organization"
                }
            ],
            "alumni": [
                {
                    "@type": "Person",
                    "name": "Nicolas Notararigo"
                }
            ],
            "name": "Pyxy.space"
        }
    </script>

<div class="container text-center">
    <h1 class="logo">PYXY</h1>
    <br>
    <br>
    <!--        <p style="font-size: 18px; width: 75%; margin: auto">Manage&Partage ta Bucket List avec tes amis pour découvrir des points communs! <br>-->
    <!--            Et réalise ou donne un coup de main pour réaliser un rêve.</p><br>-->
    <p style="font-size: 18px; width: 75%; margin: auto">Pyxy is a website to find your activity in random;
        save your activities and the system find an activity for you.</p><br>
    <br>
    <i>-- "Build or Realize your dream with your friends." -- </i>
    <br>
    Albert Einstein
    <p>

    </p>
    <br>
    <br>
    <!--        <a href=""><img width="200" src="./dist/assets/img/btn_appstore.svg" alt=""></a>-->
    <!--        <a href=""><img width="200" src="./dist/assets/img/btn_playstore.svg" alt=""></a>-->
    <a href="https://app.pyxy.space"><button class="btn btn-warning btn-sm">Go to  app -></button></a>
    <a href="https://fb.me/PyxySpace" rel="nofollow" target="_blank"><button class="btn btn-facebook btn-sm">Facebook</button></a>
    <a href="https://twitter.com/Pyxy_space" rel="nofollow" target="_blank"><button class="btn btn-twitter btn-sm">Twitter</button></a>
</div>
</div>
{% endblock %}
