{% extends 'base.html.twig' %}

{% block title %}PYXY.space - Your activities, your life, your rules.!{% endblock %}

{% block body %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Lyon, France",
                "postalCode": "69007",
                "streetAddress": "Proxima B, Century"
            },
            "email": "contact@pyxy.space",
            "member": [
                {
                    "@type": "Organization"
                },
                {
                    "@type": "Organization"
                }
            ],
            "alumni": [
                {
                    "@type": "Person",
                    "name": "Nicolas Notararigo"
                }
            ],
            "name": "Pyxy.space"
        }
    </script>
    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1>Pyxy</h1>
                <p class="lead text-muted">Pyxy is a website to find your activity in random; save your activities and the system find an activity for you.</p>
                <blockquote class="blockquote">
                    <p class="mb-0">"Build or Realize your dream with your friends."</p>
                    <footer class="blockquote-footer">Albert Einstein</footer>
                </blockquote>
                <p>
                    <a href="https://app.pyxy.space"><button class="btn btn-warning btn-sm">Use App</button></a>
                    <a href="https://beta.pyxy.space"><button class="btn btn-primary btn-sm">Use Beta App</button></a>
                </p>
            </div>
        </section>

    </main>

    <footer class="text-muted">
        <div class="container">
            <p>Temporary Theme by Bootstrap &copy; Pyxy.</p>
            <p>New to Bootstrap? <a href="https://getbootstrap.com/">Visit the homepage</a> or read our <a href="/docs/4.5/getting-started/introduction/">getting started guide</a>.</p>
        </div>
    </footer>
{% endblock %}
