{% extends 'base.html.twig' %}

{% block title %}PYXY.space - Your activities, your life, your rules.!{% endblock %}

{% block body %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Lyon, France",
                "postalCode": "69007",
                "streetAddress": "Proxima B, Century"
            },
            "email": "contact@pyxy.space",
            "member": [
                {
                    "@type": "Organization"
                },
                {
                    "@type": "Organization"
                }
            ],
            "alumni": [
                {
                    "@type": "Person",
                    "name": "Nicolas Notararigo"
                }
            ],
            "name": "Pyxy.space"
        }
    </script>

<div class="container">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/nicolasnotararigo/Projects/Pyxy/www/src/Controller/HomepageController.php'|file_link(0) }}">src/Controller/HomepageController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/nicolasnotararigo/Projects/Pyxy/www/templates/homepage/index.html.twig'|file_link(0) }}">templates/homepage/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
